.colpad {
    padding: 0px !important;
}

.danger {
    margin-top: 50%!important;
}

.o {
    padding: 200px;
}

.padding20 {
    padding-top: 20px;
}

.carouright{
    width: 50px;


}
.carouleft{
    width: 50px;


}

.formuregi {
    padding-top: 200px;
    padding-bottom: 450px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.padlog {

    padding-right: 50px;
    padding-left: 50px;

}
.pink{
    color:pink;
}

.padlog:hover {

    text-decoration: none;
    
}

.card {
    border-radius: 10px !important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


.img-responsive{
    width: 30rem;
    margin-bottom: 3.5rem;

}

.img-radius {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.cardtest:hover {
    transform: scale(1.05);
}

  body .no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .card-test{
    height: 22rem;
}
  .card-btn{
  border-radius: 10px;
  width: 100px;
    }



@media screen and (max-width: 1300px) {

    .butdash {
        text-align: center;
        
    }
    .img-responsive {
        max-width: 100%!important;
    }
    .padlog {
        padding-top: 30%;
    }
    .img-radius-media {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .table thead {
        display: none;
        }

}

@media screen and (max-width: 800px) {


    .padlog {
        padding-top: 40%;
    }


}