.bg{
    background-color: grey;
}

.colpad {
    padding : 0px !important;
} 

.danger{

    margin-top: 50%!important;
}
.o{
    padding: 200px;
}
.formuregi{
    padding-top: 200px;
    padding-bottom: 450px;
    padding-right: 50px;
    padding-left: 50px;
}

.padlog{
    padding-top: 21rem;
    padding-bottom: 450px;
    padding-right: 50px;
    padding-left: 50px;
}

.card {
    border-radius: 10px !important;
}
.center{
    text-align: center;
}

.raddash{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.buttondash{
    padding-left: 30px !important;
}